body {
    background-color: white;
    color: black;
    margin: 0;
    font-family: sans-serif;
    
}
  
/* .dark-mode-body{
    background-color: #1a1823;
    color: white;
} */

/*-----------------------------Header---------------------------*/
header{
    background-image: linear-gradient(to bottom, #5250da, #1b88bb);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

a{
    color:  #ffffff;
    opacity: 1;
    text-decoration: none;
    font-size: 30px;
    margin-right: 100px;
}

a:hover{
    opacity: 0.65;
}

/*-----------------------------Main-cards--------------------------*/

.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.polaroid {
    width: 25%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px 10px 25px 0;
    padding: 30px 30px 10px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform: scale(1); /* initial scale */
}

.polaroid:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    /* transform: translateY(-3px); */

    animation: zoomIn 0.5s forwards; /* trigger the animation on hover */
}

.polaroid:not(:hover) {
    animation: zoomOut 0.5s forwards; /* trigger the zoom-out animation when not hovered */
  }

  
  
@keyframes zoomIn {
    0% {
      transform: scale(1); /* initial scale */
    }
    100% {
      transform: scale(1.1); /* final scale */
    }
}

@keyframes zoomOut {
    0% {
      transform: scale(1.1); /* initial scale (zoomed in) */
    }
    100% {
      transform: scale(1); /* final scale (zoomed out) */
    }
  }

.polaroid p{
    font-size: 16px;
}


.racoon-image{
    width: 67%;
    height: 67%;
}

.polaroid button {
    border: none;
    align-items: center;
    background-image: linear-gradient(to bottom, #5250da, #1b88bb);
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 17px;
    height: 48px;
    justify-content: center;
        
    padding: 0 25px;
    font-family: sans-serif;
}

.polaroid button:hover{
    background-image: linear-gradient(to bottom, #452cb4, #106891); 
}

/*Modal*/
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 7% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

  .modal-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .modal-content img{
    width: 30%;
    margin-bottom: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



/*-----------------------------Main-other--------------------------*/

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    margin-right: 10px;
}

.text{
    padding: 0 10px 0 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;

    height: 40px;
    width: 100%;

    background-color: #5250da;

    font-family: 15px;
    color: rgb(156, 156, 156);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*-----------------------------Responsive Code---------------------------*/

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      align-items: center;
    }

    .polaroid{
        width: 70%;
    }
    header{
        height: auto;
    }

    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    a{
        margin-right: 0;
        font-size: 25px;
    }

    nav{
        padding: 5px;
    }
    li{
        margin-bottom: 10px;
    }
}